:root {
	--cell-size: 100px;

	--color: #2f7eed; /* for hover */
	--color-set: #38e8ca; /* when set */
	--l: 20px; /* X line-width */
}

body {
	margin: 0;
    background-image: url(https://giffiles.alphacoders.com/350/35050.gif);
    background-size: cover;
}

.board {
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto)
}
.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 3px solid rgb(3, 174, 174);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}
/* remove border for edges */
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
	border-left: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
	border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
	border-bottom: none;
}
.cell.x, .cell.circle {
	cursor: not-allowed;
}
/* for cross */
.board.x .cell:not(.circle):not(.x):hover {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}
/* for cross (set) */
.cell:not(.circle).x {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}
/* for circle */
.board.circle .cell:not(.circle):not(.x):hover {	
	background: radial-gradient(var(--color) 60%, transparent 60%);
}

/* for circle (set) */
.cell:not(.x).circle {
	background: radial-gradient(var(--color-set) 60%, transparent 60%);
}
.winning-message {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-set);
	justify-content: center;
	align-items: center;
	color: rgb(139, 8, 8);
	font-size: 5rem;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	flex-direction: column;
}

.winning-message button {
	border-radius: 10px;
	font-size: 3rem;
	border: 1px solid var(--color-set);
	padding: .25em .5em;
	cursor: pointer;
}

.winning-message button:hover {
	background-color: var(--color-set);
	color: rgb(4, 1, 1);
	border-color: rgb(8, 1, 1);
}
.winning-message.show {
	display: flex;
	background-image: url(https://th.bing.com/th/id/R.ebe01defac3a4417e8d9a171fd5bd7ba?rik=LjsI86B6eJoHmQ&riu=http%3a%2f%2f3.bp.blogspot.com%2f-nsDsW50UmqU%2fVgSbJtz38pI%2fAAAAAAAABXk%2fr34neFeHcgg%2fs1600%2fhooray.gif&ehk=NNGGjXRJjaGLZqQtSdBH80afiUTWRlm%2fPeRddFg%2byy0%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: cover;
}

.image {
	text-align: center;
}

#player {
	text-align: center;
}